<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapplication">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivitySplash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Calculator"
            android:label="Calculator"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TicTacToe"
            android:label="Tic-Tac-Toe"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ActivityWelcome"
            android:label="Welcome Screen"
            android:parentActivityName=".ActivitySplash"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityWebview"
            android:label="Regional Science City Lucknow"
            android:parentActivityName=".DashboardActivity" />
        <activity android:name=".AboutDeveloper"
            android:parentActivityName=".DashboardActivity"
            android:label="About Developer Team"></activity>
    </application>

</manifest>